@use "../components/button/buttons";
@use "../components/hero/hero";
@use "../components/navigation/navbar";
@use "../components/route-search/route-search.scss";

section {
  padding: 100px 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.bg-light {
  background: rgba(255, 255, 255, 0.15);
}

.light-border {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.max-w-fit {
  max-width: fit-content;
}

.drop-shadow {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.letter-wide {
  letter-spacing: 2px;
}

.font-weight-bold {
  font-weight: bold;
}
